
.conatiner_menu-bar > ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.conatiner_menu-bar > ul > li{
  margin-right: 20px;
}

.conatiner_menu-bar > ul > li >a{
  transition: 0.5s;
}
.conatiner_menu-bar > ul > li >a:hover{
  cursor: pointer;
  color:var(--colorTwo)
}
